<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        <a class="navbar-brand" href="#">WODVenom</a>

        <ul class="nav navbar-nav navbar-right">
        <li>  <button type="submit" class="btn btn-default"><a href="#" ng-hide="loginObj.user" ng-click="loginObj.$login('facebook')">Facebook login</a></button> </li>
        </ul>
      </div>
        
    </div><!-- /.container-fluid -->  
</nav>


<div id="wrapper" class="container">

<div class="marketing row">

      <!-- Three columns of text below the carousel -->
 
      <div  id="intro">
          WODVenom is a workout tracker that's personalized just for you and your gym. Let your gym owners easily create their workouts and submit them to our database. As a user you can easily login with your facebook profile and start saving your progress. Havin trouble making a workout on open gym days? No problem, With benchmark wods you can find the most used wods, and start trying them out. Every day your gym owner will post your workout under the daily wod. You can view and comment on your daily workouts with your fellow athletes. Want to see how you compare towards other people? No problem, With  
        </div>



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Personal WOD's. <span class="text-muted">It'll work you.</span></h2>
          <p class="lead">WODVenom offers great daily workouts created by one of the best programmers and personal trainers. If you would like to do a benchmark workout we have those as well listed under the benchmark wod. After you're done with your workout make sure to submit your score and write a comment to talk to your fellow atheletes.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/comingSoon.png" alt="Coming Soon">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/leaderboard.png" alt="Leaderboard Image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Personal Leaderboards. <span class="text-muted">I'm the best.</span></h2>
          <p class="lead">Was I the best on that date? With the personal records tab you can browse the leaders by date filter by gender. With monthly competitions and great prices it's your time to shine. </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Personal Records. <span class="text-muted">I'm working on my new PR.</span></h2>
          <p class="lead">Don't know your 1 rep max? on our Personal records tab you can save your 1 rep max scores for quick acces to view. The personal records tabs provides you with a great schema with percentages so you don't have to calculate it during your workout. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/comingSoon.png" alt="Coming Soon">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="/#/login/#intro">Back to top</a></p>
        <p>&copy; 2014 WODVenom, Inc. &middot; Designed &amp; Developed by Mike Taatgen &middot; All rights reserved</p>
      </footer>

    </div><!-- /.container -->

</div>
