<h1> This is a user submit score </h1>

<h2> {{wod.title}}</h2>

<div>

	<form ng-submit="submitScore()">
		<label for="skilllevel"> Skill Level:</label> 
		<select name="skilllevel" ng-model="newScore.level">
			<option value="rx">RX</option>
			<option value="scaled">Scaled</option>
		</select> <br>
		<label for="time">Time:</label>
		<input type="text" id="time" ng-model="newScore.time" placeholder="Time">  <br>
		<button type="submit">Post! </button>
	</form>
		
</div>
	<div class="comment" ng-repeat="comment in comments">
		<span> <b>{{comment.username}}</b></span> <br>
		<span> {{comment.body}}</span>
	</div>
	<textarea ng-model="newComment.body" ng-keydown="addComment($event)"></textarea>
<div>
</div>